<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>display method</title>
    </head>
    <body>
        <div id="app">
            <ul v-if="displayScreen">
                <li>{{title}}</li>
                <li>{{name}}</li>
                <li>{{gender}}</li>
                <li>{{email}}</li>
                <li>${{salary}}.00</li>
            </ul>
            <!-- way 1 -->
            <!-- <button v-on:click="salary++">
                Increase {{name}} salary
            </button> -->
            <!-- way 2 -->
            <!-- <button @click="changeTitle('Project Manager')">
                Change {{name}}'s work title
            </button> -->
            <button @click="displayData()">
                <span v-if="displayScreen">Hide Data</span>
                <!-- way 1 -->
                <span v-else>Show Data</span>
                <!-- way 2 -->
                <!-- <span v-if="!displayScreen">Show Data</span> -->
            </button>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/script.js"></script>
    </body>
</html>
